.text-brand {
  color: var(--color-brand-normal);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
