.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;

  &__list {
    display: flex;
    justify-content: space-between; /*Розтягуються елементи на всю сторінку з однаковими відступами*/
    gap: 40px;
  }

  &__item {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 20px;
  }
}
