.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      display: block;
      width: 352px;
      border: 2px solid #cfcfbc;
      content: '';
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    gap: 40px 30px;
  }

  &__item {
    flex-basis: calc(100% - 30px / 2);
  }
}
