.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}
