.footer {
  padding: 32px 0;
  position: relative;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/decor-bread-small.png);
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/decor-bread-large.png);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
      text-align: left;
    }
  }

  &__log,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
  }

  &__adress-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__adress-copyright {
    font-size: 14px;
    font-weight: 400;
  }
}
