.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
  margin-bottom: 80px;
}
