.header {
  position: absolute;
  top: o;
  left: 0;
  width: 100%;
  padding-top: 32px;

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    flex-grow: 1;
    align-items: center;
    display: flex;
    gap: 40px;
  }

  &__menu {
    display: flex;
    gap: 64px; /*Замість "margin" - надає кожному наступному єлементу відступ (окрім останнього елемента)*/
    flex-grow: 1; /*Елемент розтягується та займає усе доступне місце*/
    justify-content: center; /*Вирівнювання вздовж головної вісі*/
  }
}
